.product{
    display: flex;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 5px;
    margin-top: 5px;
}
.product h4{
    color:blue;

}
.btn{
    background-color:goldenrod;
    color: whitesmoke;
    border-radius:10px solid gray ;
    height: 40px;
    width: 150px;
    border: 5px solid;
    cursor: pointer;
    

}